// common styles
@use '../base/colors';
@use '../base/break-points';
@use '../base/mixins';

.comparables-drawer.drawer-main {

    .card-text-val {
        background-color: #FFFFFF33;
        padding: 0 6px;
        border-radius: 4px;

        .val {
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
        }

        p {
            color: #FFFFFFCC;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            display: block;
        }
    }

    .drawer-header {
        min-height: 52px;
        padding-block: 6px;
        flex-wrap: wrap;
        justify-content: space-between;

        @include break-points.bp('sm-max') {
            padding-left: 10px;
        }

        .right-side {
            gap: 10px;
            margin-left: 0;
            flex-wrap: wrap;

            .btn.sq-btn {
                img.b-space {
                    width: 20px;
                    height: 20px;
                }
            }

            .map-toggle {
                img.white {
                    display: none;
                }

                &.active {
                    img {
                        display: none;
                    }

                    img.white {
                        display: block;
                    }

                    &.btn.btn-white {
                        background-color: transparent;
                        color: #337AB7;
                        border: 1px solid rgba(255, 255, 255, 0.4) !important;
                        color: #fff;

                        &:hover,
                        &:focus {
                            border-color: #f2f2f2 !important;
                            color: #337AB7;
                        }
                    }
                }
            }
        }
    }

    .drawer-body {
        padding: 12px 24px;

        @include break-points.bp('sm-max') {
            padding: 12px 16px;
        }
    }


    .comparables-map {
        height: 320px;
        max-height: 320px;
        border-radius: 4px;
        overflow: hidden;
        width: 100%;
        position: relative;
        margin-bottom: 16px;
        z-index: 1;

        .map-img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            left: 0;
            top: 0;
            z-index: -1;
        }

        .pin-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;
        }

        .edit-btn {
            position: absolute;
            top: 10px;
            left: 10px;
        }

        .map-btn {
            position: absolute;
            bottom: 10px;
            left: 10px;
        }

        .loc-btn {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    }

    .popover-tooltip .ic.sm img {
        width: 10px;
        min-width: 10px;
        height: 10px;
    }

    .filter-dropdown {
        --bs-border-radius: 4px;
        box-shadow: 3px 0px 20px 0px #0C0C0C26;
        border: none;
        width: 580px;
        max-width: 580px;
        padding: 0;

        @include break-points.bp('sm-max') {
            width: 480px;
            max-width: 480px;
        }

        @include break-points.bp('xs-max') {
            width: 100%;
            max-width: 100%;
            position: fixed !important;
            top: 0 !important;
            left: 0 !important;
            transform: none !important;
        }

        .custom-Select2-no-search+.select2.select2-container {
            min-width: auto;
        }

        .filter-head {
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            padding: 16px;
            border-bottom: 1px solid #D2D5D8;
            display: flex;
            align-items: center;

            .btn-close {
                width: 30px;
                min-width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }

        .filter-body {
            padding: 16px 16px 0;
            max-height: calc(100dvh - 200px);

            @include break-points.bp('xs-max') {
                max-height: calc(100dvh - 127px);
            }
        }

        .filter-footer {
            padding: 16px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: flex-end;
        }
    }

    .whitespace-normal {
        white-space: normal !important;
    }
}

// modals
.comparables-image-modal.modal {
    --bs-modal-width: 480px;
    --bs-modal-border-radius: 16px;

    .btn-close {
        position: absolute;
        top: 14px;
        right: 14px;
        z-index: 10;
        width: 30px;
        height: 30px;
        background-image: url('../images/warning-close.svg');
        background-size: 14px;
    }

    .modal-body {
        padding: 0;
    }

    .comparables-detail-swiper {
        .swiper-slide {
            position: relative;
            padding-bottom: 50%;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .swiper-pagination-bullet {
            width: 20px;
            height: 20px;
            background-color: #FFFFFFCC;
            opacity: 1;

            &.swiper-pagination-bullet-active {
                background-color: #FFFFFF;
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #FFFFFF99;
            --swiper-navigation-size: 18px;
            --swiper-navigation-color: #050B20;
            font-weight: 700;
        }
    }

    .list {
        color: #333;
        display: flex;
        gap: 14px 24px;
        flex-wrap: wrap;
        padding: 16px;

        p {
            color: #333;
        }

        li {
            display: flex;
            align-items: center;
            gap: 6px;
        }

        .i {
            width: 16px;
            height: 16px;
            min-width: 16px;
            display: flex;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}