// common styles
@use '../base/colors';
@use '../base/break-points';
@use '../base/mixins';


.popover.popover-layout:has(.add-to-list-popover) {
--bs-popover-max-width: 138px;
}


.drawer-main.scout-info-drawer {
    z-index: 912;

    .drawer-header {
        min-height: 50px
    }

    .scout-without-data {
        padding: 60px 0;
        min-height: calc(100vh - 580px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .text-md {
            font-size: 18px;
            font-weight: 400;
            line-height: 20px;
            color: #666666;
            margin-bottom: 18px;
        }
    }

    .scout-tab-head {
        margin-bottom: 6px;

        .select2.select2-container {
            width: 208px !important;
            max-width: 100%;

            @include break-points.bp (xs-max) {
                width: 100% !important;
            }
        }

        @include break-points.bp (xs-max) {
            .right-btns {
                width: 100%;

                >label {
                    width: 100%;
                }
            }

            .select2-dropdownParent,
            .btn {
                width: calc(50% - 8px);
            }
        }
    }

    .scout-tab-propertyimg-list {
        .image-uploaded-layout {
            min-width: 179px;

            @include break-points.bp (lg-max) {
                min-width: auto;
            }
        }

        .scout-add-img-card {
            border-radius: 10px;
            border: 1px dashed rgba(0, 86, 161, 0.4);
            font-size: 14px;
            font-weight: 600;
            line-height: 16.8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-width: 122px;
            height: 160px;
            color: #0056A1;
            gap: 4px;
            cursor: pointer;

            @include break-points.bp (lg-max) {
                min-width: auto;
            }

            .i {
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .scout-que-grid {
        &.row {
            margin-top: -16px;
            margin-bottom: -16px;

            @include break-points.bp (sm-max) {
                margin-top: -8px;
                margin-bottom: -8px;
            }
        }

        .col-12 {
            margin-top: 0;
            padding-top: 16px;
            padding-bottom: 16px;
            border-bottom: 1px solid #D2D5D8;

            @include break-points.bp (sm-max) {
                border-bottom: none;
                padding-top: 8px;
                padding-bottom: 8px;
            }
        }
    }

    .outline-card {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 12px 16px;
        margin-bottom: 16px;
        overflow: hidden;

        &.bg-gray {
            background-color: #F8F8F8;
        }

        .h-title {
            font-size: 16px;
            font-weight: 700;
            line-height: 19.2px;
            color: #333;
            margin-bottom: 12px;
        }

        @include break-points.bp (sm-max) {
            padding: 15px;
        }
    }

    .input-val {
        font-size: 14px;
        line-height: 18px;
        color: #444;
        font-weight: 500;

        label {
            font-weight: 400;
            color: #888888;
            display: block;
            margin-bottom: 6px;
        }

        p {
            font-weight: 700;
        }

        .with-btn {
            display: flex;
            align-items: center;
            gap: 6px;

            a:hover,
            a:focus {
                opacity: 0.6;
            }
        }
    }
}

.drawer-main.scout-property-drawer {
    width: 966px;
    max-width: 100%;
    z-index: 913;

    .btn-close {
        top: 10px;
    }

    @include break-points.bp("xs-max") {
        width: 100%;
    }
}